* {
  box-sizing: border-box;
}

body {
  --primary-color: #a5d6a7;
  --primary-color-light: #d7ffd9;
  --primary-color-dark: #75a478;
  --grey-color: #b0b0b0;

  font-family: Roboto, sans-serif;
  margin: 0;
}

.title {
  font-family: Roboto Mono, monospace;
}

.page {
  padding: 16px;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-header > nav {
  margin-left: 16px;
}

.page-header > nav > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.list-end {
  text-align: center;
}

.list-end > i {
  font-size: 160px;
  color: var(--grey-color);
}

.list-item {
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  max-height: 384px;
  overflow: hidden;
  padding: 16px;
}

.list-item:nth-child(n+2) {
  margin-top: 16px;
}

.list-item:hover {
  cursor: pointer;
  transition: background 0.19s ease-out;
  background: #eee;
}

#home, #blog, #projects, #about {
  display: none;
}

#home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('profile.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh;
}

#home-title {
  font-size: 3rem;
  margin-bottom: 8px;
}

#home-social > i {
  font-size: 40px;
}

#home-social > i:hover {
  cursor: pointer;
  transition: color 0.19s ease-out;
  color: var(--primary-color-dark);
}

#home-social > svg {
  width: 40px;
}

#home-social > svg:hover {
  cursor: pointer;
}

#home-social > svg:hover > path {
  transition: fill 0.19s ease-out;
  fill: var(--primary-color-dark);
}

#home > nav > ul {
  padding: 0;
  list-style-type: none;
}

#home > nav > ul > li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 64px;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
}

#home > nav > ul > li:hover {
  cursor: pointer;
  transition: background 0.19s ease-out;
  background: var(--primary-color-dark);
}

#about > main {
  display: flex;
  flex-direction: column;
}

#about > main > header {
  text-align: center;
}

#about-photo {
  width: 240px;
  border-radius: 50%;
}
