* {
  box-sizing: border-box;
}

body {
  --grey-color: #b0b0b0;
  --grey-color-light: #eee;
  --grey-color-dark: #a4a4a4;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

.title {
  font-size: 1rem;
  font-family: Nunito, Roboto, Helvetica, Arial, sans-serif;
}

.page {
  padding: 16px;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-header > nav {
  margin-left: 8px;
}

.page-header > nav > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-header-back {
  font-size: 1.5rem;
}

.page-header-back:hover {
  cursor: pointer;
}

.page-body {
  animation: fadein 0.2s ease-in;
}

.list-item {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  margin-top: 16px;
  max-height: 384px;
  overflow: hidden;
  padding: 16px;
}

.list-item:hover {
  cursor: pointer;
  transition: background 0.19s ease-out, box-shadow 0.19s ease-out;
  background: var(--grey-color-light);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
}

.list-item > h1 {
  font-size: 1.5rem;
}

#home, #blog, #projects, #about {
  display: none;
}

#home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, var(--primary-color-light), var(--primary-color));
  color: var(--text-color);
  height: 100vh;
}

#home-title {
  font-size: 3rem;
  margin-bottom: 8px;
}

#home-social > svg {
  font-size: 2.5rem;
}

#home-social > svg:hover {
  cursor: pointer;
}

#home-social > svg:hover > path {
  transition: fill 0.19s ease-out;
  fill: var(--primary-color-hover);
}

#home > nav > ul {
  padding: 0;
  list-style-type: none;
}

#home > nav > ul > li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 64px;
  border-radius: 20px;
  padding: 8px;
  margin: 4px;
}

#home > nav > ul > li:hover {
  cursor: pointer;
  transition: background 0.19s ease-out;
  background: var(--grey-color-hover);
}

#about > main {
  display: flex;
  flex-direction: column;
}

#about > main > header {
  text-align: center;
}

#about-photo {
  width: 240px;
  border-radius: 50%;
}

/* Animations */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsive design */
@media screen and (min-width: 600px) {
  .page {
    padding: 16px 32px;
  }

  .title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .page {
    padding: 16px 64px;
  }
}
